name: backup

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  backup:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.7.1
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.7.1
    - name: perform backup
      env:
        DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}
        DATADOG_APP_KEY: ${{ secrets.DATADOG_APP_KEY }}
      run: |
          gem install --no-document bundler
          bundle install --jobs 4 --retry 3
          bundle exec datadog_backup backup
    - name: commit changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "Changes as of run: ${{ github.run_id }}"
        file_pattern: backup/
        repository: .
